<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main">

<head>
    <title>Application Form</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"></link>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/college-fund-payment.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/contact-dialog.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/application-requests.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/lldd-health-prob-cat.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/wordAddressGenerator.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/postcode-lookup.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/datepicker.js}"></script>

</head>

<body>
    <div layout:fragment="content">
        <div>
            <span th:text="${message}"></span>
        </div>

        <form action="#" name="application-form" id="application-form" class="form" method="post" th:action="@{/application/edit/__${app.id}__}" th:object="${app}">
            <div class="row">
                <div class="form-group col-md-12 col-sm-12">
                    <fieldset>
                        <legend>Application Details</legend>
                        <div class="form-group">
                            <div th:replace="fragments/form :: hidden ('student-id', 'id')"></div>
                            <div th:replace="fragments/form :: hidden ('person-id', 'personId')"></div>
                        </div>

                        <div class="form-group">
                            <label for="surname" class="col-xs-6 col-sm-4 col-md-2 control-label">Reference No:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-4">
                                <input class="form-control" type="text" name="reference-no" minlength="2" id="reference-no" readonly="true" placeholder="Reference No" th:field="*{referenceNo}"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="received" class="col-xs-6 col-sm-4 col-md-2 control-label">Date Received:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-4">
                                <input class="form-control date-picker" type="text" name="received" id="received" placeholder="DD/MM/YYYY" th:field="*{received}" required="true"></input> <span th:if="${#fields.hasErrors('received')}" th:errors="*{ received }"
                                    th:class="${#fields.hasErrors('received')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="endDate" class="col-xs-6 col-sm-4 col-md-2 control-label">Date withdrawal:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-4">
                                <input class="form-control date-picker" type="text" name="endDate" id="withdrawal" placeholder="DD/MM/YYYY" th:field="*{endDate}"></input>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="application-status" class="col-xs-6 col-sm-4 col-md-2 control-label">Application Status:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-4">
                                <select class="form-control" th:field="*{status.id}">
					                <option th:each="i : ${applicationStatusList}" th:value="${i.id}" th:text="${i}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" th:class="${#fields.hasErrors('status')}? text-danger">Field Invalid</span>
                            </div>
                        </div>

                        <!--                          <div class="form-group"> -->
                        <!--                             <label for="academicYear" class="col-xs-6 col-sm-4 col-md-2 control-label">Year Applied:</label> -->
                        <!--                             <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8"> -->
                        <!--                                 <input class="col-xs-6 col-sm-8 col-sm-8 col-md-4" placeholder="Year Applied" th:field="*{academicYear}" id="academicYear" name="academicYear" type="text" readonly="false" required="true"></input> -->
                        <!--                             </div> -->
                        <!--                         </div> -->

                        <div class="form-group">
                            <label for="year" class="col-xs-6 col-sm-4 col-md-2 control-label">Year of Application:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-4">
                                <select class="form-control" th:field="*{year.id}" readonly="true" required="true" th:disabled="disabled">
                                    <option th:each="i : ${yearList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('year.id')}" th:errors="*{year.id}" th:class="${#fields.hasErrors('year.id')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="academicYear" class="col-xs-6 col-sm-4 col-md-2 control-label">Year Applied:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-4">
                                <select class="form-control" th:field="*{academicYear.id}" readonly="true" required="true" th:disabled="disabled">
                                    <option th:each="i : ${academicYearList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('academicYear.id')}" th:errors="*{academicYear.id}" th:class="${#fields.hasErrors('academicYear.id')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Personal Details</legend>
                        <div class="form-group" th:class="${#fields.hasErrors('firstName')}? has-error">
                            <label for="firstName" class="col-xs-6 col-sm-4 col-md-4 control-label">First Name:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="First Name" th:field="*{firstName}" id="first-name" name="firstName" minlength="2" type="text"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('middleNames')}? has-error">
                            <label for="middleNames" class="col-xs-6 col-sm-4 col-md-4 control-label">Middle Name(s):</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="Middle Name(s)" th:field="*{middleNames}" id="middle-names" name="middleNames" minlength="2" type="text"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('surname')}? has-error">
                            <label for="surname" class="col-xs-6 col-sm-4 col-md-4 control-label">Surname:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" name="surname" minlength="2" id="surname" placeholder="Surname" th:field="*{surname}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('preferredName')}? has-error">
                            <label for="preferredName" class="col-xs-6 col-sm-4 col-md-4 control-label">Preferred Name:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" name="preferredName" id="preferred-name" minlength="2" placeholder="Preferred Name" th:field="*{preferredName}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('previousSurname')}? has-error">
                            <label for="previousSurname" class="col-xs-6 col-sm-4 col-md-4 control-label">Previous Surname:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" name="previousSurname" id="PreviousSurname" minlength="2" placeholder="Previous Surname" th:field="*{previousSurname}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('dob')}? has-error">
                            <label for="dob" class="col-xs-6 col-sm-4 col-md-4 control-label">Date of Birth:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" name="dob" id="dob" placeholder="DD/MM/YYYY" th:field="*{dob}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('gender.id')}? has-error">
                            <label for="gender" class="col-xs-6 col-sm-4 col-md-4 control-label">Gender:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{gender.id}">
                                    <option th:each="i : ${genderList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('gender.id')}" th:errors="*{gender.id}" th:class="${#fields.hasErrors('gender.id')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('home')}? has-error">
                            <label for="home" class="col-xs-6 col-sm-4 col-md-4 control-label">Home Telephone:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control left phone-group" type="text" name="home" id="home" placeholder="Home Telephone" th:field="*{home}"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('mobile')}? has-error">
                            <label for="mobile" class="col-xs-6 col-sm-4 col-md-4 control-label">Mobile Telephone:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control left phone-group" type="text" name="mobile" id="mobile" placeholder="Mobile Telephone" th:field="*{mobile}"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('email')}? has-error">
                            <label for="email" class="col-xs-6 col-sm-4 col-md-4 control-label">Student Email:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="email" name="email" id="email" placeholder="Student Email" th:field="*{email}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('nationality')}? has-error">
                            <label for="nationality" class="col-xs-6 col-sm-4 col-md-4 control-label">Nationality:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{nationality.id}">
                                    <option value="">-- Select Nationality --</option>
                                    <option th:each="i : ${nationalityList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}" th:class="${#fields.hasErrors('nationality')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('resident')}? has-error">
                            <label for="resident" class="col-xs-6 col-sm-4 col-md-4 control-label">Resident:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" name="resident" id="resident" th:field="*{resident}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('countryOfResidence')}? has-error">
                            <label for="countryOfResidence" class="col-xs-6 col-sm-4 col-md-4 control-label">Country Of Residence:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" name="countryOfResidence" id="country-of-residence" placeholder="Country Of Residence" th:field="*{countryOfResidence}"></input>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div id="main-address-form" class="form-group col-md-6 col-sm-12 postcode-lookup-address">
                    <fieldset>
                        <legend>Address Details</legend>
                        <div class="form-group" th:class="${#fields.hasErrors('line1')}? has-error">
                            <label for="line1" class="col-xs-6 col-sm-4 col-md-4 control-label">Address Line 1:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" id="line1" placeholder="Address Line 1" th:field="*{line1}" readonly="false" required="true"></input> <span th:if="${#fields.hasErrors('line1')}" th:errors="*{line1}" th:class="${#fields.hasErrors('line1')}? text-danger">Field Invalid</span>
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('line2')}? has-error">
                            <label for="line2" class="col-xs-6 col-sm-4 col-md-4 control-label">Address Line 2:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" id="line2" placeholder="Address Line 2" th:field="*{line2}" readonly="false"></input> <span th:if="${#fields.hasErrors('line2')}" th:errors="*{line2}" th:class="${#fields.hasErrors('line2')}? text-danger">Field Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('line3')}? has-error">
                            <label for="line3" class="col-xs-6 col-sm-4 col-md-4 control-label">Address Line 3:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" id="line3" placeholder="Address Line 3" th:field="*{line3}" readonly="false"></input> <span th:if="${#fields.hasErrors('line3')}" th:errors="*{line3}" th:class="${#fields.hasErrors('line3')}? text-danger">Field Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="hidden">
                            <label for="line4" class="hidden">Address Line 4:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="hidden" id="line4" placeholder="Address Line 4" th:field="*{line4}" readonly="false"></input> <span th:if="${#fields.hasErrors('line4')}" th:errors="*{line4}" th:class="${#fields.hasErrors('line4')}? text-danger">Field Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="hidden">
                            <label for="line5" class="hidden">Address Line 5:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="hidden" id="line5" placeholder="Address Line 5" th:field="*{line5}" readonly="false"></input> <span th:if="${#fields.hasErrors('line5')}" th:errors="*{line5}" th:class="${#fields.hasErrors('line5')}? text-danger">Field Invalid</span>
                            </div>
                        </div>
                        <div class="form-group" th:class="hidden">
                            <label for="line5" class="hidden">Building Name:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="hidden" id="buildingName" placeholder="Building Name" th:field="*{buildingName}" readonly="false"></input> <span th:if="${#fields.hasErrors('buildingName')}" th:errors="*{buildingName}"
                                    th:class="${#fields.hasErrors('buildingName')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>
                        <div class="form-group" th:class="hidden">
                            <label for="line5" class="hidden">SubBuilding:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="hidden" id="subBuilding" placeholder="SubBuilding" th:field="*{subBuilding}" readonly="false"></input> <span th:if="${#fields.hasErrors('subBuilding')}" th:errors="*{subBuilding}" th:class="${#fields.hasErrors('subBuilding')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('town')}? has-error">
                            <label for="town" class="col-xs-6 col-sm-4 col-md-4 control-label">Town:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" id="town" placeholder="Town" th:field="*{town}" readonly="false"></input> <span th:if="${#fields.hasErrors('town')}" th:errors="*{town}" th:class="${#fields.hasErrors('town')}? text-danger">Field Invalid</span>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('county')}? has-error">
                            <label for="county" class="col-xs-6 col-sm-4 col-md-4 control-label">County:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="text" id="county" placeholder="County" th:field="*{county}" readonly="false"></input> <span th:if="${#fields.hasErrors('county')}" th:errors="*{county}" th:class="${#fields.hasErrors('county')}? text-danger">Field Invalid</span>
                            </div>
                        </div>
                        <div class="container  col-sx-12 col-sm-12 col-md-12 ${#fields.hasErrors('postcode')}? has-error">
                            <div class="row">
                                <label for="postcode" class="col-xs-6 col-sm-4 col-md-4 control-label">Postcode</label>
                                <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                    <input class="form-control postcode" type="text" id="postcode" placeholder="Postcode" th:field="*{postcode}" required="true"></input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-4">
                                    <button id="postcode-lookup" type="button" value="Button" class="btn btn-primary postcode-lookup">Lookup</button>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <button id="manual-lookup" type="button" value="Button" class="btn btn-primary">Manual Entry</button>
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Sibling Details</legend>

                        <div class="form-group" th:class="${#fields.hasErrors('sibling')}? has-error">
                            <label for="sibling" class="col-xs-6 col-sm-4 col-md-4 control-label">Sibling at College:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" name="sibling" id="sibling" th:field="*{sibling}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('siblingName')}? has-error">
                            <label for="siblingName" class="col-xs-6 col-sm-4 col-md-4 control-label">Sibling Name:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="Sibling Name" th:field="*{siblingName}" id="sibling-name" name="siblingName" minlength="2" type="text"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('siblingYear')}? has-error">
                            <label for="siblingYear" class="col-xs-6 col-sm-4 col-md-4 control-label">Sibling Year:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="Sibling Year" th:field="*{siblingYear}" id="sibling-year" name="siblingYear" minlength="4" type="text"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('siblingAdmNo')}? has-error">
                            <label for="siblingAdmNo" class="col-xs-6 col-sm-4 col-md-4 control-label">Sibling AdmNo:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="Sibling AdmNo" th:field="*{siblingYear}" id="sibling-admNo" name="siblingAdmNo" minlength="4" type="text"></input>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-12 col-sm-12">
                    <fieldset>
                        <legend>Correspondence Details</legend>
                        <table id="contact-table" class="table">
                            <thead>
                                <th>Contact Type</th>
                                <th>Title</th>
                                <th>First Name</th>
                                <th>Surname</th>
                                <th>Home</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Contactable</th>
                                <th>Preferred</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr th:each="c : *{contacts}">
                                    <td th:text="${c.contactType}">Father</td>
                                    <td th:text="${c.contact.title.description}">Mr</td>
                                    <td th:text="${c.contact.firstName}">Joe</td>
                                    <td th:text="${c.contact.surname}">Blogs</td>
                                    <td th:text="${c.contact.home}">09423891748923</td>
                                    <td th:text="${c.contact.mobile}">01283843432</td>
                                    <td th:text="${c.contact.email}">noreply@reigate.ac.uk</td>
                                    <td th:text="${c.contact.address} != null ? #{yes} : ''">Yes</td>
                                    <td th:text="${c.contactable}? #{yes} : #{no}">Yes</td>
                                    <td th:text="${c.preferred}? #{yes} : #{no}">Yes</td>
                                    <td><a class="edit-contact" th:href="@{/contact/get/__${c.id}__}" th:attr="id=${c.id},value=${c.id}">Edit</a> <a class="delete-contact" th:href="@{/contact/get/__${c.id}__}" th:attr="id=${c.id},value=${c.id}">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <button id="create-contact" class="btn btn-default">Create new contact</button>
                        <button id="reload-contact-table" class="btn btn-default hidden">Reload</button>
                    </fieldset>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Previous School Information</legend>

                        <div class="form-group" th:class="${#fields.hasErrors('school')}? has-error">
                            <label for="school" class="col-xs-6 col-sm-4 col-md-4 control-label">Previous School:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{school}">
                                    <option value="">-- Select Previous School --</option>
                                    <option th:each="i : ${schoolList}" th:value="${i.id}" th:text="${i}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('school')}" th:errors="*{school}" th:class="${#fields.hasErrors('school')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('refRequested')}? has-error">
                            <label for="refRequested" class="col-xs-6 col-sm-4 col-md-4 control-label">Reference Requested:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="Reference Requested" th:field="*{refRequested}" id="ref-requested" name="refRequested" type="text"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('refReceived')}? has-error">
                            <label for="refReceived" class="col-xs-6 col-sm-4 col-md-4 control-label">Reference Received:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="Reference Received" th:field="*{refReceived}" id="ref-received" name="refReceived" type="text"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('reportRequested')}? has-error">
                            <label for="reportRequested" class="col-xs-6 col-sm-4 col-md-4 control-label">School Report Requested:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="School Report Requested" th:field="*{reportRequested}" id="reportRequested" name="reportRequested" type="text"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('reportReceived')}? has-error">
                            <label for="reportReceived" class="col-xs-6 col-sm-4 col-md-4 control-label">School Report Received:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="School Report Received" th:field="*{reportReceived}" id="reportReceived" name="reportReceived" type="text"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('schoolReportStatus')}? has-error">
                            <label for="schoolReportStatus" class="col-xs-6 col-sm-4 col-md-4 control-label">School Report Status:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{schoolReportStatus.id}">
									<option value="">-- Select School Report Status--</option>
									<option th:each="i : ${schoolReportStatusList}" th:value="${i.id}" th:text="${i.code + ' - ' + i.description}">Option...</option>
								</select> <span th:if="${#fields.hasErrors('schoolReportStatus')}" th:errors="*{schoolReportStatus}" th:class="${#fields.hasErrors('schoolReportStatus')}? text-danger">Field
									Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('blueCard')}? has-error">
                            <label for="blueCard" class="col-xs-6 col-sm-4 col-md-4 control-label">Blue Card Date:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="Blue Card Date" th:field="*{blueCard}" id="blueCard" name="blueCard" type="text"></input>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Student Details</legend>

                        <div class="form-group" th:class="${#fields.hasErrors('studentType')}? has-error">
                            <label for="studentType" class="col-xs-6 col-sm-4 col-md-4 control-label">Student Type:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{studentType.id}">
                                    <option value="">-- Select StudentType --</option>
                                    <option th:each="i : ${studentTypeList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('studentType')}" th:errors="*{studentType}" th:class="${#fields.hasErrors('studentType')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('uln')}? has-error">
                            <label for="uln" class="col-xs-6 col-sm-4 col-md-4 control-label">Unique Learner No:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="Unique Learner No" th:field="*{uln}" id="uln" name="uln" type="text"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('uci')}? has-error">
                            <label for="uci" class="col-xs-6 col-sm-4 col-md-4 control-label">Unique Candidate Identifier:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="Unique Candidate Identifier" th:field="*{uci}" id="uci" name="uci" type="text" maxlength="13"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('tutorGroup')}? has-error">
                            <label for="tutorGroup" class="col-xs-6 col-sm-4 col-md-4 control-label">Tutor Group:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{tutorGroup.id}">
                                    <option value="">-- Select Tutor Group --</option>
                                    <option th:each="i : ${tutorGroupList}" th:value="${i.id}" th:text="${i}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('tutorGroup')}" th:errors="*{tutorGroup}" th:class="${#fields.hasErrors('tutorGroup')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('offerType')}? has-error">
                            <label for="offerType" class="col-xs-6 col-sm-4 col-md-4 control-label">Offer Type:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{offerType.id}">
                                    <option th:each="i : ${offerTypeList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('offerType')}" th:errors="*{offerType}" th:class="${#fields.hasErrors('offerType')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('offerSent')}? has-error">
                            <label for="offerSent" class="col-xs-6 col-sm-4 col-md-4 control-label">Offer Sent:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="Offer Sent" th:field="*{offerSent}" id="offerSent" name="offerSent" type="text"></input>
                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Disability/Medical Information</legend>
                        <div class="form-group" th:class="${#fields.hasErrors('llddHealthProblem')}? has-error">
                            <label for="llddHealthProblem" class="col-xs-6 col-sm-4 col-md-4 control-label">LLDD Health Problem:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select id="llddHealthProblem" class="form-control" th:field="*{llddHealthProblem}">
                                    <option th:each="i : ${llddHealthProblemList}" th:value="${i.id}" th:text="${i.shortDescription}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('llddHealthProblem')}" th:errors="*{llddHealthProblem}" th:class="${#fields.hasErrors('llddHealthProblem')}? text-danger">Field Invalid</span>
                            </div>
                        </div>

                        <div>
                            <div class="form-group form-inline">
                                <label class="col-xs-4 col-sm-4 col-md-4 control-label" for="new-lldd-health-prob">Add LLDD Category: </label>
                                <div class="col-xs-8 col-sm-8 col-sm-8 col-md-8">
                                    <select class="form-control" id="new-lldd-health-prob">
                                        <option value="-1">-- Select LLDD Health Cat to Add --</option>
                                        <option th:each="i : ${llddHealthProblemCategoryList}" th:value="${i.id}" th:text="${i}"></option>
                                    </select>
                                    <button id="add-lldd-health-prob" type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                            <table id="lldd-table" class="table col-xs-12 col-sm-6 col-sm-6 col-md-6">
                                <thead>
                                    <th>LLDD and Health Problem Category</th>
                                </thead>
                                <tbody id="tbl-llddhealth-prob-cat">
                                </tbody>
                            </table>
                            <button id="reload-lldd-table" class="btn hidden">Reload</button>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('medicalNote')}? has-error">
                            <label for="medicalNote" class="col-xs-6 col-sm-4 col-md-4 control-label">Medical Notes:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <textarea class="form-control" placeholder="Medical Notes" th:field="*{medicalNote}" id="medicalNote" name="medicalNote" rows="5" cols="30" type="text"></textarea>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('ehcp')}? has-error">
                            <label for="ehcp" class="col-xs-8 col-sm-4 col-md-4 control-label">Education, Health and Care Plan:</label>
                            <div class="col-xs-4 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" id="ehcp" th:field="*{ehcp}"></input> <span th:if="${#fields.hasErrors('ehcp')}" th:errors="*{ehcp}" th:class="${#fields.hasErrors('ehcp')}? text-danger">Field Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('specialCategory')}? has-error">
                            <label for="specialCategory" class="col-xs-6 col-sm-4 col-md-4 control-label">Special Category:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{specialCategory.id}">
                                    <option th:each="i : ${specialCategoryList}" th:value="${i.id}" th:text="${i.code == '' ? i.description : i.code + ' - ' + i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('specialCategory')}" th:errors="*{specialCategory}" th:class="${#fields.hasErrors('specialCategory')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Interview Information</legend>

                        <div class="form-group" th:class="${#fields.hasErrors('interviewer')}? has-error">
                            <label for="interviewer" class="col-xs-6 col-sm-4 col-md-4 control-label">Interviewer:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{interviewer}">
                                    <option value="">-- Select Interviewer --</option>
                                    <option th:each="i : ${staffList}" th:value="${i.id}" th:text="${i.initials + ' - ' + i.person.surname + ', ' + i.person.firstName}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('interviewer')}" th:errors="*{interviewer}" th:class="${#fields.hasErrors('interviewer')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('interviewDate')}? has-error">
                            <label for="interviewDate" class="col-xs-6 col-sm-4 col-md-4 control-label">Interview Date:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="Interview Date" th:field="*{interviewDate}" id="interviewDate" name="interviewDate" type="text"></input>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Admissions Notes</legend>

                        <div class="form-group" th:class="${#fields.hasErrors('admissionsNotes')}? has-error">
                            <label for="admissionsNotes" class="col-xs-6 col-sm-4 col-md-4 control-label">Admissions Notes:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <textarea class="form-control" placeholder="Admissions Notes" th:field="*{admissionsNotes}" id="admissionsNotes" name="admissionsNotes" rows="5" cols="30" type="text"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Acceptance Information</legend>

                        <div class="form-group" th:class="${#fields.hasErrors('acceptanceReceived')}? has-error">
                            <label for="acceptanceReceived" class="col-xs-6 col-sm-4 col-md-4 control-label">Acceptance Received:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="Acceptance Received" th:field="*{acceptanceReceived}" id="acceptanceReceived" name="acceptanceReceived" type="text"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('ethnicity')}? has-error">
                            <label for="ethnicity" class="col-xs-6 col-sm-4 col-md-4 control-label">Ethnicity:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{ethnicity.id}">
                                    <option value="">-- Select Ethnicity --</option>
                                    <option th:each="i : ${ethnicityList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('ethnicity')}" th:errors="*{ethnicity}" th:class="${#fields.hasErrors('ethnicity')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Data Sharing options</legend>
                        <div class="form-group" th:class="${#fields.hasErrors('restrictedUseIndicator')}? has-error">
                            <label for="restrictedUseIndicator" class="col-xs-6 col-sm-4 col-md-4 control-label">Restricted Use:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <select class="form-control" th:field="*{restrictedUseIndicator.id}">
                                    <option value="">-- Select Restricted Use --</option>
                                    <option th:each="i : ${restrictedUseIndicatorList}" th:value="${i.id}" th:text="${i.description}">Option...</option>
                                </select> <span th:if="${#fields.hasErrors('restrictedUseIndicator')}" th:errors="*{restrictedUseIndicator}" th:class="${#fields.hasErrors('restrictedUseIndicator')}? text-danger">Field
                                    Invalid</span>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('contactByPost')}? has-error">
                            <label for="contact-by-post" class="col-xs-6 col-sm-4 col-md-4 control-label">Contact By Post:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" name="contact-by-post" id="contact-by-post" th:field="*{contactByPost}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('contactByPhone')}? has-error">
                            <label for="contact-by-phone" class="col-xs-6 col-sm-4 col-md-4 control-label">Contact By Phone:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" name="contact-by-phone" id="contact-by-phone" th:field="*{contactByPhone}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('contactByEmail')}? has-error">
                            <label for="contact-by-email" class="col-xs-6 col-sm-4 col-md-4 control-label">Contact By Email:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" name="contact-by-email" id="contact-by-email" th:field="*{contactByEmail}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('lrsOptOut')}? has-error">
                            <label for="lrs-opt-out" class="col-xs-6 col-sm-4 col-md-4 control-label">LRS Opt Out:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" name="lrs-opt-out" id="lrs-opt-out" th:field="*{lrsOptOut}"></input>
                            </div>
                        </div>

                    </fieldset>
                </div>


                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>College Fund Entry</legend>
                        <label for="college-fund-paid" class="col-xs-6 col-sm-4 col-md-4 control-label">College Fund Paid:</label>
                        <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6">
                            <select class="form-control" th:field="*{collegeFundPaid.id}">
                                <option value="">-- Select College Fund Paid --</option>
                                <option th:each="i : ${collegeFundPaidList}" th:value="${i.id}" th:text="${i}"></option>
                            </select>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('collegeFundPaidYears')}? has-error">
                            <label for="collegeFundPaidYears" class="col-xs-6 col-sm-4 col-md-4 control-label">Years Paid For:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="Years Paid For" th:field="*{collegeFundPaidYears}" id="collegeFundPaidYears" name="collegeFundPaidYears" type="number" min="0" max="3"></input>
                            </div>
                        </div>

                        <table id="collegeFund-table" class="table">
                            <thead>
                                <th>Payment Date</th>
                                <th>Amount</th>
                                <th>Cheque Date</th>
                                <th>Payee</th>
                                <th>Gift Aid</th>
                                <th>Cash</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <!-- Course Request Appear Here -->
                            </tbody>
                        </table>
                        <button id="create-collegeFund" class="btn btn-primary">Add College Fund</button>
                        <button id="reload-collegeFund-table" class="btn bth-default hidden">Reload</button>
                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Introductory Day/Choices Day/Enrolment Interview Details</legend>
                        <div class="form-group" th:class="${#fields.hasErrors('cannotAttendIntro')}? has-error">
                            <label for="cannot-attend-intro" class="col-xs-6 col-sm-4 col-md-4 control-label">Cannot Attend Intro Day:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" id="cannot-attend-intro" th:field="*{cannotAttendIntro}"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('cannotAttendInduction')}? has-error">
                            <label for="cannot-attend-induction" class="col-xs-6 col-sm-4 col-md-4 control-label">Cannot Attend Choices Day:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" type="checkbox" id="cannot-attend-induction" th:field="*{cannotAttendInduction}"></input>
                            </div>
                        </div>


                        <div class="form-group" th:class="${#fields.hasErrors('inductionDate')}? has-error">
                            <label for="inductionDate" class="col-xs-6 col-sm-4 col-md-4 control-label">Date of Induction:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control date-picker" placeholder="Date of Induction" th:field="*{inductionDate}" id="inductionDate" name="inductionDate" type="text"></input>
                            </div>
                        </div>

                        <div class="form-group" th:class="${#fields.hasErrors('enrolmentInterviewDate')}? has-error">
                            <label for="enrolmentInterviewDateTime" class="col-xs-6 col-sm-4 col-md-4 control-label">Enrolment Interview Date/Time:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control" placeholder="DD/MM/YYYY HH:MM" th:field="*{enrolmentInterviewDateTime}" id="enrolmentInterviewDateTime" name="enrolmentInterviewDateTime" type="text"></input>
                            </div>
                        </div>
                        <!-- 
                        <div class="form-group">
                            <label for="enrolmentInterviewTime" class="col-xs-6 col-sm-4 col-md-4 control-label">Enrolment Interview Time:</label>
                            <div class="col-xs-6 col-sm-8 col-sm-8 col-md-8">
                                <input class="form-control time-picker" placeholder="Enrolment Interview Time" th:field="*{enrolmentInterviewTime}" id="enrolmentInterviewTime" name="enrolmentInterviewTime"></input>
                            </div>
                        </div>
                        -->
                    </fieldset>
                </div>

                <div class="form-group col-md-6 col-sm-12">
                    <fieldset>
                        <legend>Course Requests</legend>
                        <div>
                            <div class="form-group form-inline">
                                <label class="col-xs-4 col-sm-4 col-md-4 control-label" for="new-request">New Request: </label>
                                <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6">
                                    <input type="text" class="form-control" id="new-request" placeholder="New Request" maxlength="5" value="" />
                                </div>
                                <div class="col-xs-2 col-sm-2 col-sm-2 col-md-2">
                                    <button id="add-request" type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                            <table class="table table-responsive col-xs-12 col-sm-6 col-sm-6 col-md-6" id="request-table">
                                <thead>
                                    <th>Request Code</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    <!-- Course Request Appear Here -->
                                </tbody>
                            </table>
                            <button id="reload-request-table" class="btn bth-default hidden">Reload</button>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row fixed-bottom-right">
                <a class="btn btn-info" target="_blank" th:href="@{/wordGenerator/studentLetter/__${app.id}__}">Student Letter</a>
                <a class="btn btn-info" target="_blank" th:href="@{/wordGenerator/parentLetter/__${app.id}__}">Parent Letter</a>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-default">Cancel</button>
            </div>

        </form>
        <script>
            //         $('.timepicker').wickedpicker();
            $("#application-form").validate();
        </script>

        <div th:replace="fragments/dialogs/address-list :: address-list-dialog"></div>
        <div th:replace="fragments/dialogs/contact-form :: contact-dialog-form"></div>
        <div th:replace="fragments/dialogs/college-fund-payment :: college-fund-payment-dialog"></div>

    </div>

</body>

</html>