<form id="roomsEditForm" name="roomsEditForm" role="form" novalidate show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancel()">&times;</button>
        <h4 class="modal-title" id="myToDoLabel">Add/Edit Room</h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-group">
                <label for="code" class="col-xs-4 col-sm-4 col-md-4 control-label">Code:</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="code" type="text" class="form-control" name="code" ng-model="ctrl.room.code">
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-xs-4 col-sm-4 col-md-4 control-label">Description:</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="description" type="text" class="form-control text ui-widget-content ui-corner-all" ng-model="ctrl.room.description"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="roomType" class="col-xs-4 col-sm-4 col-md-4 control-label">Room Type</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <room-type-selection class="form-control" include-blank="true" ng-model="ctrl.room.roomTypeId"></room-type-selection>
                </div>
            </div>

            <div class="form-group">
                <label for="capacity" class="col-xs-4 col-sm-4 col-md-4 control-label">Capacity</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="capacity" type="text" class="form-control text ui-widget-content ui-corner-all" ng-model="ctrl.room.capacity"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="defaultRows" class="col-xs-4 col-sm-4 col-md-4 control-label">Default Rows</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="defaultRows" type="text" class="form-control text ui-widget-content ui-corner-all" ng-model="ctrl.room.defaultRows"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="defaultCols" class="col-xs-4 col-sm-4 col-md-4 control-label">Default Cols</label>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <input id="defaultCols" type="text" class="form-control text ui-widget-content ui-corner-all" ng-model="ctrl.room.defaultCols"></input>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ctrl.cancel()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.save()">
            <span class="glyphicon glyphicon-save"></span>
            Save
        </button>
    </div>

</form>