<table class="table table-responsive table-hover">
    <thead>
        <th ng-click="ctrl.changeSort('id')">ConcessionType Id
            <span ng-show="ctrl.isSortedAsc('id')"> &#x25BC;</span>
            <span ng-show="ctrl.isSortedDesc('id')"> &#x25B2;</span>
        </th>
        <th ng-click="ctrl.changeSort('code')">Code
            <span ng-show="ctrl.isSortedAsc('code')"> &#x25BC;</span>
            <span ng-show="ctrl.isSortedDesc('code')"> &#x25B2;</span>
        </th>
        <th ng-click="ctrl.changeSort('description')">Description
            <span ng-show="ctrl.isSortedAsc('description')"> &#x25BC;</span>
            <span ng-show="ctrl.isSortedDesc('description')"> &#x25B2;</span>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="concessionType in concessionTypes |  orderBy:ctrl.sortOrder ">
            <td>{{ concessionType.id }}</td>
            <td>{{ concessionType.code }}</td>
            <td>{{ concessionType.description }}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.editConcessionTypes(concessionType.id)">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</button>
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.addConcessionTypes()">
				<span class="glyphicon glyphicon-pencil"></span> Add
			</button>