<div class="form-group col-md-12 col-sm-12">
    <table class="table table-hover">
        <thead>
            <th ng-show="showAll || showStudent">Student</th>
            <th>Level</th>
            <th>Qualification Title</th>
            <th>Exam Board</th>
            <th>Grade</th>
            <th>Date</th>
            <th>Checked</th>
            <th permission="['ROLE_Quals on Entry']">Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="studentEntryQualification in ctrl.studentEntryQualifications">
                <td ng-show="showAll || showStudent">{{ studentEntryQualification.studentId }}</td>
                <td>{{ studentEntryQualification._entryQualification._entryQualificationTypeDescription }}</td>
                <td>{{ studentEntryQualification._entryQualification.title }}</td>
                <td>{{ studentEntryQualification._examBoardName }}</td>
                <td>{{ studentEntryQualification.grade }}</td>
                <td>{{ studentEntryQualification.date | date:'dd/MM/yyyy' }}</td>
                <td>{{ studentEntryQualification.checked | yesNo }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" permission="'ROLE_Quals on Entry'" ng-click="ctrl.editStudentEntryQualification(studentEntryQualification.studentEntryQualificationId)">
					<span class="glyphicon glyphicon-pencil"></span> Edit
				</button>
                    <button type="button" class="btn btn-danger btn-sm" permission="'ROLE_Quals on Entry'" ng-click="ctrl.deleteStudentEntryQualification(studentEntryQualification.studentEntryQualificationId)">
					<span class="glyphicon glyphicon-pencil"></span> Delete
				</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" permission="['ROLE_Quals on Entry']" ng-click="ctrl.addStudentEntryQualification(ctrl.studentId)">Add Entry Qualification</button>
</div>